include ../mixins
include ../constants.pug
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(name="format-detection" content="telephone=no")
    title #{title}
    meta(name="description" content=`${description}`)

    meta(property="og:title" content=`${og_title}`)
    meta(property="og:description" content=`${og_description}`)
    meta(property="og:image" content=`${og_image}`)
    meta(property="og:type" content="site")
    meta(property="og:url" content=`${og_url}`)
    meta(property="og:video" content=`${og_video}`)
    meta(property="og:site_name" content=`${og_site_name}`)

    link(rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap")
    link(rel="stylesheet" type='text/css' href="static/css/style.css")

    <!--[if lt IE 9]>
      script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->
  body
    #app.g-wrapper
      include ../modules/header
      main.g-main
        block content
      include ../modules/footer
    .hide
      include ../modules/modal

    script(src="static/js/bundle.js")

    block script
